.class1 {
			text-align: center;
}
.class2 {
			text-align: center;
}
.class3 {
			text-align: center;
}
.class4 {
			text-align: center;
}
.class5 {
			text-align: center;
}
.class6 {
			text-align: center;
}
.class7 {
			text-align: center;
}
.class8 {
			text-align: center;
}